
{% extends "base.html" %}

{% block content %}

<head>
<link rel = "stylesheet" href = "https://unpkg.com/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
<script src = "https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>

<div class="bg-gray-100 min-h-screen py-8">
    <div class="container mx-auto p-6">
        <h1 class="text-4xl font-bold text-center mb-6 text-gray-800">Explore Amazing Cities</h1>
        <p class="text-lg text-center text-gray-600 mb-10">Discover cities around the world. Click on a city to learn more about it!</p>

       <div id="map" style= "height: 500px;"></div>
       <script>
            var map = L.map("map").setView([54.7753, 1.5849], 4);

            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                maxZoom: 20,
                attribution: "© OpenStreetMap contributors"

            }).addTo(map);

            var cityIcon = L.Icon.extend({
                options: {
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            
            });
            
            var paris = L.marker([48.8575, 2.3514]).addTo(map);
                berlin = L.marker([52.5200, 13.4050]).addTo(map);
                london = L.marker([51.5072, -0.1276]).addTo(map);
                lisbon = L.marker([38.7223, -9.1393]).addTo(map);

            
            paris.bindPopup("Paris")
            berlin.bindPopup("Berlin")
            london.bindPopup("London")
            lisbon.bindPopup("Lisbon")
        
            paris.bindPopup('<a href="/paris">Paris</a>');
            berlin.bindPopup('<a href="/berlin">Berlin</a>');
            london.bindPopup('<a href="/london">London</a>');
            lisbon.bindPopup('<a href="/lisbon">Lisbon</a>');

            var openrailwaymap = new L.TileLayer("http://{s}.tiles.openrailwaymap.org/standard/{z}/{x}/{y}.png",
            {
                attribution: '<a href= "https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>, Style: <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA 2.0</a> <a href= "http://www.openrailwaymap.org/">OpenRailwayMap</a> and OpenStreetMap',
                minZoom: 2,
                maxZoom: 20,
                tileSize: 256

            }).addTo(map);

            L.Control.geocoder({
                defaultMarkGeocode: true
            })
            .on('markgeocode', function(e) {
                var bbox = e.geocode.bbox;
                var poly = L.polygon([
                    bbox.getSouthEast(),
                    bbox.getNorthEast(),
                    bbox.getNorthWest(),
                    bbox.getSouthWest()
                ]).addTo(map);
                map.fitBounds(poly.getBounds());
            })
            .addTo(map);

        

       </script>


    
        </div>
    </div>
</div>
{% endblock %}
