

{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">Meet The <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Team</span></h1> 
    <div class="flex flex-wrap justify-center gap-4">
        <!-- Repeated Image Blocks -->
        <div class="flex flex-col items-start gap-4 p-4">
            <div class="w-full p-2 text-center">
                <img
                    class="h-auto w-48 transition-all duration-300 rounded-full blur-sm hover:blur-none"
                    src="static/images/Patrick.JPG"
                    alt="Meet Patrick"
                >
                <p class="mt-2 text-sm">Meet Patrick</p>
                <a href="https://github.com/Patrick-Burgess" class="text-blue-500 underline">Patrick's GitHub</a>
            </div>
        
            <div class="w-full p-2 text-center">
                <img
                    class="h-auto w-48 transition-all duration-300 rounded-full blur-sm hover:blur-none"
                    src="static/images/Toby.JPG"
                    alt="Meet Toby"
                >
                <p class="mt-2 text-sm">Meet Toby</p>
                <a href="https://github.com/tobypullan" class="text-blue-500 underline">Toby's GitHub</a>
            </div>
        
            <div class="w-full p-2 text-center">
                <img
                    class="h-auto w-48 transition-all duration-300 rounded-full blur-sm hover:blur-none"
                    src="static/images/Rose.JPG"
                    alt="Meet Rose"
                >
                <p class="mt-2 text-sm">Meet Rose</p>
                <a href="https://github.com/roseg769/" class="text-blue-500 underline">Rose's GitHub</a>
            </div>
        
            <div class="w-full p-2 text-center">
                <img
                    class="h-auto w-48 transition-all duration-300 rounded-full blur-sm hover:blur-none"
                    src="static/images/Lewis.JPG"
                    alt="Meet Lewis"
                >
                <p class="mt-2 text-sm">Meet Lewis</p>
                <a href="https://github.com/LiRE3520" class="text-blue-500 underline">Lewis's GitHub</a>
            </div>
        </div>
    
    
</body>
</html>

{% endblock %}